@import url('https://fonts.googleapis.com/css?family=Bangers|Fira+Sans');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

header h1, header h2 {
  font-family: 'Bangers', sans-serif;
  background-color: #2CAFD9;
  color: white;
  padding: 0 30px 20px 30px;;
  display: inline-box;
  width: 60%;
  font-size: 8vw;
  margin: 0 auto;
  text-shadow: 4px 4px 0px black;
}

header h2 {
  font-size: 6vw;
  padding: 20px 30px 0 30px;
}

header {
  padding: 50px;
  text-align: center;
  background-image: url("halftone2.png");
  background-repeat: no-repeat;
  background-position: center;
}

nav, footer {
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
}

#logo {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 40px;;
}

nav a {
  display: inline-block;
  padding: 0 20px;
}

.row {
  width: 100%;
}

.center {
  text-align: center;
}

section {
  width: 80%;
  margin: 10px auto;
}

section h2 {
  font-family: 'Bangers', sans-serif;
  color: #2CAFD9;
  text-shadow: 2px 2px 0px black;
}

.organizer {
  display: inline-block;
  width: 40%;
  background: black;
  margin: 10px;
  text-align: center;
  padding: 20px 0;
}

.organizer img {
  width: 80%;
}

.organizer h3, #projects h3, .partner h4, .quote h4 {
  font-size: 1.8em;
  color: white;
  font-family: 'Bangers', sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000,
  2px 2px 0px #2CAFD9;  
  margin: 0 auto;
}

.project, .testimonial {
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  margin-bottom: 10px;
}

.description {
  text-align: left;
}

.partner h4 {
  font-size: 1.2em;
}

.description {
  display: inline-block;
  width: 65%;
}

.partner {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 40px 0 0 20px;
}

.partner img {
  width: 80%;
}

.quote {
  width: 70%;  
  vertical-align: top;
  display: inline-block;
}

.person {
  width: 20%;
  display: inline-block;
}

.person img {
  width: 80%;
}

blockquote {
  border-left: 10px solid #2CAFD9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}

blockquote:before {
  color: #2CAFD9;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote h4 {
  text-align: right;
}

#about li {
  line-height: 0.8em;
  margin-left: 20px;
}

.bold-highlight {
  font-weight: 700;
  text-shadow: 1px 1px 0px #2CAFD9;
}

.button {
  font-size: 1.8em;
  padding: 10px 20px;
  height: auto;
  font-family: 'Bangers', sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000,
  2px 2px 0px #000;  
  display: block;
  margin: 20px 0;
}

.button.button-primary {
  background-color: #2CAFD9;
}

#apply p {
  text-align: center;
}
