<section id="about">
  <h2>About</h2>
  <p>Increasing Rust's Reach is one of several programs run by the Rust Programming Lanugage Team to <span class="bold-highlight">grow Rust's community of  project collaborators and leaders</span>. 

  <p>This program matches Rust team members from all parts of the project with individuals who are <span class="bold-highlight">underrepresented in Rust's community and the tech industry</span> for a partnership of <span class="bold-highlight">three (3) months</span>, from <span class="bold-highlight">mid-May to mid-August</span>. Each partnership agrees to a commitment of <span class="bold-highlight">3-5 hours per week</span>.</p>

  <p>Unlike a traditional mentor/mentee relationship, we refer to groups of folks in the program as Partners, reinforcing the fact that <span class="bold-highlight">we believe the project has an equal amount to learn from participants as they have to learn from us</span>. A typical week will include a <span class="bold-highlight">1hr meeting with your Rust partner</span>, a <span class="bold-highlight">1hr weekly sharing meeting with the larger group of program participants</span>, and <span class="bold-highlight">a few hours of pairing or independent work on your specific project</span>.</p>

  <p>By way of thanks for participating in the program, <span class="bold-highlight">we offer a fully paid conference ticket, travel, and accomodations for every participant to a Rust Conference of their choice</span>:</p>
  <ul>
    <li>May 26-27: <a href="https://paris.rustfest.eu/">RustFest Paris</a></li>
    <li>August 16-17: <a href="http://rustconf.com/">RustConf</a></li>
    <li>October: <a href="https://twitter.com/rustbeltrust">Rust Belt Rust</a></li>
  </ul>
  <p>Learn more about the upcoming 2018 Rust Conferences <a href="https://blog.rust-lang.org/2018/01/31/The-2018-Rust-Event-Lineup.html">here</a>.</p>

</section>
