<section id="about">
  <h2>About</h2>
  <p>Increasing Rust's Reach is one of several programs run by the Rust Programming Lanugage Team to <span class="bold-highlight">grow Rust's community of  project collaborators and leaders</span>. 

  <p>This program matches Rust team members from all parts of the project with individuals who are underrepresented in Rust's larger community and the tech industry for a partnership of <span class="bold-highlight">three (3) months</span>, from <span class="bold-highlight">mid-May to mid-August</span>. Each partnership agrees to a commitment of <span class="bold-highlight">3-5hours per week</span>.</p>

  <p>Unlike a traditional mentor/mentee relationship, we refer to groups of folks in the program as Partners, reinforcing the fact that <span class="bold-highlight">we believe the project has an equal amount to learn from participants as they have to learn from us</span>.</p>
</section>
