<section id="apply">
  <h2>Apply!</h2>
  <p>
    The application period will begin on <span class="bold-highlight">April 1st</span> and will be open until <span class="bold-highlight">April 15th</span>. <br/>Applicants will be notified of the status of their application by <span class="bold-highlight">April 30th</span>.
    <a href="https://goo.gl/forms/DppVF9AI03XMY9zo1" class="button button-primary">Apply Now!</a>
  </p>
</section>
