<section id="apply">
  <h2>Apply!</h2>
  <p>
    The application period began on <span class="bold-highlight">April 1st</span> and was open until <span class="bold-highlight">April 20th</span>. <br/>Applications are now being reviewed. <br/>Applicants will be notified of the status of their application by <span class="bold-highlight">April 30th</span>.
  </p>
</section>
