<p>
  <a href="https://goo.gl/forms/DppVF9AI03XMY9zo1" class="button button-primary">Apply Now!</a>
  …or send an email with <a href="static/application.txt">this text document</a> filled out to <a href="mailto:reach@rust-lang.org">reach@rust-lang.org</a>
</p>