<section id="apply">
  <h2>Apply!</h2>
  <p>The application period will begin in <span class="bold-highlight">early April</span> and will be open until <span class="bold-highlight">April 15th</span>. Watch this spot for more updates!</p>
</section>
