<section id="apply">
  <h2>Apply!</h2>
  <p>
    The application period will begin in <span class="bold-highlight">April 1st</span> and will be open until <span class="bold-highlight">April 15th</span>. Watch this spot for more updates!
    <a href="https://goo.gl/forms/DppVF9AI03XMY9zo1" class="button button-primary">Apply Now!</a>
  </p>
</section>
