{{#*inline "page"}}
<header>
  <h2>Increasing</h2>
  <h1> Rust's Reach</h1>
</header>
{{> about}}
{{> timeline}}
{{> apply}}
{{> projects}}
{{> testimonials}}
{{> organizers}}
<section>
  {{> apply-btn}}
</section>
{{/inline}}
{{~> (parent)~}}
