<nav>
  <span class="pull-left"><a href="#about"><img src="/static/rust-logo-white.png" id="logo"/></a></span>
  <a href="#about">About</a>
  <a href="#projects">Projects</a>
<!--  <a href="/2018/participants">2018 Participants</a> -->
  <a href="#testimonials">Testimonials</a>
  <a href="#organizers">Organizers</a>
</nav>
