<section id="organizers">
  <h2>Organizers</h2>
  <p>This program is an <span class="bold-highlight">official program of the Rust Programming Language</span> and is supported fully by the Rust Teams. To learn more about the Rust Programming Language, visit the <a href="http://www.rust-lang.org">website</a>.</p>
  <p>This year, the program is being organized by:</p>
  <div class="row center">
    <div class="organizer">
      <img src="static/carols10cents.png"/>
      <h3 class="outline">Carol Nichols || Goulding</h3>
    </div>
    <div class="organizer">
      <img src="static/ashleygwilliams.png"/>
      <h3 class="outline">Ashley Williams</h3>
    </div>
  </div>
</section>
