<section id="projects">
  <h2>2018 Participants</h2>
  <div class="project" id="alan-kavishe">
    <div class="row">
      <div class="description">
        <h3>Alan Kavishe
          <span class="project"><img src="/static/project-icon.svg"/>Clap.rs</span>
          <span class="location"><img src="/static/location-icon.svg"/>Namibia</span>
        </h3>
        <p>I never know what to put here. But I do so love to code.</p>
        <div class="social">
          <a href="https://twitter.com/savish"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/savish"><img src="/static/github-logo.svg"/></a>
          <a href="https://medium.com/@savish"><img src="/static/medium-logo.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/alan-kavishe.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="dalia-icedo">
    <div class="row">
      <div class="description">
        <h3>Dalia Icedo
          <span class="project"><img src="/static/project-icon.svg"/>Rust WWW Design</span>
          <span class="location"><img src="/static/location-icon.svg"/>California, USA</span>
        </h3>
        <p>Dalia is an independent designer based in the San Francisco Bay Area. She is a chapter leader for Girl Develop It San Jose, and Techqueria.org. On weekends she hangs out with her dog, Moose.</p>
        <div class="social">
          <a href="https://twitter.com/pxlwtch"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/pxlwtch"><img src="/static/github-logo.svg"/></a>
          <a href="https://medium.com/latechnomoda"><img src="/static/medium-logo.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/dalia-icedo.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="Алена-Юрьева">
    <div class="row">
      <div class="description">
        <h3>Алена Юрьева (Elaine)
          <span class="project"><img src="/static/project-icon.svg"/>Clap.rs</span>
          <span class="location"><img src="/static/location-icon.svg"/>Tatarstan Republic, Russia</span>
        </h3>
        <p>A CS major in Innopolis university (graduating 2018), with strong background at mathematics and algorithms. Professionally interested in functional programming, embedded and systems programming. Had been a summer intern at Samsung R&D Institute Russia in 2017. A keen lover of outdoors sports and education-related matters.</p>
      </div>
      <div class="partner">
        <img src="/static/Алена-Юрьева.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="emily-felger">
    <div class="row">
      <div class="description">
        <h3>Emily Felger
          <span class="project"><img src="/static/project-icon.svg"/>Rust WWW Design</span>
          <span class="location"><img src="/static/location-icon.svg"/>Maine, USA</span>
        </h3>
        <p>Emily Felger is a project manager with a background in marketing and graphic design. She has been on the board of AIGA Maine since 2015, where she organizes networking and educational events for creative professionals. She has previously worked as a photographer, food stylist, muppet wrangler, wine columnist, and marketing copywriter, and is interested in how technology can improve, revitalize, or transform analog industries. </p>
        <div class="social">
          <a href="https://twitter.com/efelger"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/efelger"><img src="/static/github-logo.svg"/></a>
          <a href="http://emilyfelger.com/"><img src="/static/website-icon.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/emily-felger.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="galuh-sahid">
    <div class="row">
      <div class="description">
        <h3>Galuh Sahid
          <span class="project"><img src="/static/project-icon.svg"/>Diesel</span>
          <span class="location"><img src="/static/location-icon.svg"/>Indonesia</span>
        </h3>
        <p>Galuh is a data engineer with previous experiences in web development and a brief stint in graphic and UX design. She enjoys combining all of her interests to build data products--especially web applications--which makes it easy for people to interact with data and the insights generated from them.
        <div class="social">
          <a href="https://twitter.com/galuhsahid"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/galuhsahid"><img src="/static/github-logo.svg"/></a>
          <a href="http://galuh.me"><img src="/static/website-icon.svg"/></a>
        </div>
</p>
      </div>
      <div class="partner">
        <img src="/static/galuh-sahid.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="hideki-sekine">
    <div class="row">
      <div class="description">
        <h3>Hideki Sekine
          <span class="project"><img src="/static/project-icon.svg"/>Embedded</span>
          <span class="location"><img src="/static/location-icon.svg"/>Japan</span>
        </h3>
        <p>Embedded programming. Tech support for various tools like circuit simulator or network traffic generators. A wireshark contributer (sent small piece of code ;- ).</p>
</p>
      </div>
      <div class="partner">
        <img src="/static/hideki-sekine.jpg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="project" id="krystal-maughan">
    <div class="row">
      <div class="description">
        <h3>Krystal Maughan
          <span class="project"><img src="/static/project-icon.svg"/>CLI</span>
          <span class="location"><img src="/static/location-icon.svg"/>California, USA</span>
        </h3>
        <p>Krystal is a current Computer Science student at Glendale City College. She loves functional programming, particularly Haskell. She is currently participating in Google Summer of Code for Haskell.org. She is also participating in OPLSS and hopes to become a PL researcher one day. Rust is particularly interesting to her because of its compiler system.</p>
        <div class="social">
          <a href="https://twitter.com/kammitama"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/kammitama5"><img src="/static/github-logo.svg"/></a>
          <a href="https://kammitama5.github.io/"><img src="/static/website-icon.svg"/></a>
        </div>
</p>
      </div>
      <div class="partner">
        <img src="/static/krystal-maughan.png"/>
      </div>
    </div>
  </div>
  <div class="project" id="nanoplink">
    <div class="row">
      <div class="description">
        <h3>Nanoplink
          <span class="project"><img src="/static/project-icon.svg"/>WebAssembly</span>
          <span class="location"><img src="/static/location-icon.svg"/>France</span>
        </h3>
        <p>Nanoplink likes to break things and to put them back together with some LISP. She then tries to explain what she discovered so she won't be alone to enjoy it. Sometimes she codes, but she also writes music with her gameboy and computer. She's also a huge animation works enthusiast!</p>
        <div class="social">
          <a href="https://twitter.com/nanoplink"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/nanoplink"><img src="/static/github-logo.svg"/></a>
      </div>
      </div>
      <div class="partner">
        <img src="/static/nanoplink.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="rahul-thakoor">
    <div class="row">
      <div class="description">
        <h3>Rahul Thakoor
          <span class="project"><img src="/static/project-icon.svg"/>Rust WWW i18n</span>
          <span class="location"><img src="/static/location-icon.svg"/>Mauritius</span>
        </h3>
        <p>Rahul is a medical graduate and currently studying computer science engineering. He is passionate about public health, open source software, physical computing and open educational resources.</p>
        <div class="social">
          <a href="https://twitter.com/rahulthakoor"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/rahul-thakoor"><img src="/static/github-logo.svg"/></a>
          <a href="https://rahul-thakoor.github.io/"><img src="/static/website-icon.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/rahul-thakoor.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="roberto-carlos-martinez-arriage">
    <div class="row">
      <div class="description">
        <h3>Roberto Carlos Martinez Arriaga
          <span class="project"><img src="/static/project-icon.svg"/>Diesel</span>
          <span class="location"><img src="/static/location-icon.svg"/>Jalisco, Mexico</span>
        </h3>
        <p>Roberto works on software from all levels on a big blue silicon company.  He is passionate about learning and teaching and anything related to making sense out of tons of data. Currently part of a team doing Enterprise Collaboration Software.</p>
        <div class="social">
          <a href="https://twitter.com/yamishi13"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/yamishi13"><img src="/static/github-logo.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/ferris.png"/>
      </div>
    </div>
  </div>
  <div class="project" id="rui-zhao">
    <div class="row">
      <div class="description">
        <h3>Rui Zhao
          <span class="project"><img src="/static/project-icon.svg"/>Rust WWW i18n</span>
          <span class="location"><img src="/static/location-icon.svg"/>China</span>
        </h3>
        <p>I believe technology is for helping and improving humans, but many companies have distorted this and made technology utilize or govern humans. Openness is the only way to deal with this problem (unless we completely abandon the concept of "company") and humans should learn to fight against the control. My development and interests are mainly about creating openness, bridging people and open the (good) potential of technology.</p>
        <div class="social">
          <a href="https://twitter.com/renyuneyun"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/renyuneyun"><img src="/static/github-logo.svg"/></a>
          <a href="http://renyuneyun.is-programmer.com/"><img src="/static/website-icon.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/rui-zhao.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="sarah-saltrink-meyer">
    <div class="row">
      <div class="description">
        <h3>Sarah Saltrick Meyer
          <span class="project"><img src="/static/project-icon.svg"/>WebAssembly</span>
          <span class="location"><img src="/static/location-icon.svg"/>NYC, USA</span>
        </h3>
        <p>Sarah is a native New Yorker and ardent website appreciator. She has worked at companies like Boundless, Refinery29, Glossier, and Rent the Runway. Currently, she writes JavaScript and Python for BuzzFeed in New York.</p>
        <div class="social">
          <a href="https://twitter.com/meyerini"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/sarahmeyer"><img src="/static/github-logo.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/sarah-saltrick-meyer.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="tochukwu-nkemdilim">
    <div class="row">
      <div class="description">
        <h3>Tochukwu Nkemdilim
          <span class="project"><img src="/static/project-icon.svg"/>CLI</span>
          <span class="location"><img src="/static/location-icon.svg"/>Lagos, Nigeria</span>
        </h3>
        <p>I'm a passionate learner who's enthusiastic about anything Tech.</p>
        <p>Nothing excites me like relentlessly seeing others grow. As often as possible, I love encouraging others at any slight opportunity that comes by; this is because I've discovered that the best investment in life is in the growth & success of people.</p>
        <p>Also I help manage a local tech community, where we discuss, and sometimes rant & argue about everything from web development to machine learning.</p>
        <p>Asides from development, I love dancing, reading, eating any food that looks delicious in the eyes ;) , and importantly ensuring that people fulfill their dreams.</p>
        <div class="social">
          <a href="https://twitter.com/TNkemdilim"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/TNkemdilim"><img src="/static/github-logo.svg"/></a>
          <a href="https://medium.com/@tochukwunkemdilim"><img src="/static/medium-logo.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/tochukwu-nkemdilim.jpg"/>
      </div>
    </div>
  </div>
  <div class="project" id="vaishali-thakkar">
    <div class="row">
      <div class="description">
        <h3>Vaishali Thakkar
          <span class="project"><img src="/static/project-icon.svg"/>Embedded</span>
          <span class="location"><img src="/static/location-icon.svg"/>India</span>
        </h3>
        <p>Vaishali Thakkar is a freelance Linux Kernel engineer, co-organizer of RGSoC and volunteer co-coordinator of Outreachy for Linux Kernel projects. She is passionate about system programming, speaking at conferences, building diverse and inclusive communities and, spreading love about open education and open learning.</p>
        <div class="social">
          <a href="https://twitter.com/kernel_girl"><img src="/static/twitter-logo.svg"/></a>
          <a href="https://github.com/nerdyvaishali"><img src="/static/github-logo.svg"/></a>
          <a href="http://vaishalithakkar.in/"><img src="/static/website-icon.svg"/></a>
        </div>
      </div>
      <div class="partner">
        <img src="/static/vaishali-thakkar.jpg"/>
      </div>
    </div>
  </div>
</section>
