<section id="summary">
  <h2>Summary</h2>
  <p>This year's class of Increasing Rust's Reach participants span <strong>9 timezones</strong> and <strong>11 countries</strong>. <strong>64% are non-native English speakers</strong>, and the group, as a whole, represents <strong>fluency in 14+ languages</strong>. We're super excited to welcome them to the Rust community!</p>
  <p>The map below shows the location of this year's participants (blue logos) and partners (small black logos):</p>
  <div id="map"></div>
</section>
