<section id="projects">
  <h2>2018 Projects</h2>
  <p>Here are the projects that we've organized for the 2018 program.</p>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>WebAssembly</h3>
        <p>WebAssembly("wasm") is a web standard that allows developers to run binary code in the browser.
        The Rust team is excited to make Rust a first class language for writing this type of code, and 
        has chosen WASM as one the four key domains in which we'd like to ship a first class developer
        experience this year.</p>
        <p>Great candidates for this project will be excited about learning more about wasm, writing documentation for others after having experimented with new tools for wasm, and a willingness to grapple with a new frontier of computing where more often than not we're drawing the map for others. They'll be working on writing tutorials for new tools so that others can learn how to use them, provide fixes/features for those tools, and work with the wasm-wg to provide a better experience for the ecosystem as a whole.</p>
        <p>Michael was one of the original visionaries of the Rust/WASM pairing, writing about it in his <a href="https://mgattozzi.com/rust-wasm">blog in early December last year</a>. He's a member of the <a href="https://internals.rust-lang.org/t/come-join-the-rust-and-webassembly-working-group/6845">WASM working group</a> passionate about <a href="https://twitter.com/mgattozzi/status/974810805043679233">exploring possibilities via epic hacks</a> AND <a href="https://github.com/rust-lang-nursery/rust-wasm#rust-and-webassembly-book">beginner friendly documentation</a>.</p>
      </div>
      <div class="partner">
        <img src="static/mgattozzi.png"/>
        <h4>Michael Gattozzi</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>rust-lang.org</h3>
        <p>rust-lang.org is the online home of the Rust Programming Lanuage and often the first impression new folks get of the project and community. We're planning on shipping a brand new design with lots of new content this year.</p>
        <p>Ashley is a member of the <a href="https://www.rust-lang.org/en-US/team.html#Core-team">Core Team</a>, lead of the <a href="https://github.com/rust-community/team">Community team</a>, and a member of the <a href="https://github.com/rust-lang-nursery/rust-wasm">WASM Working Group</a>. She is passionate about education and founded the <a href="https://www.nodetogether.org/">NodeTogether</a> program, and currently leads the <a href="https://rustbridge.github.io/">RustBridge</a> inclusive education initaive for Rust.</p>
      </div>
      <div class="partner">
        <img src="static/ashleygwilliams.png"/>
        <h4>Ashley Williams</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>Embedded</h3>
        <p>Rust has the potential to make programming resource-constrained devices much more productive—and fun! We want embedded programming to reach first-class status this year.</p>

        <p>This year, we will be developing new <a href="https://docs.travis-ci.com/user/for-beginners/">Continuous Integration</a> (CI) tests for embedded platforms to detect when changes in the compiler would negatively affect embedded Rust devices. These tests will be added to the Rust Language test infrastructure as a critical part of Rust's commitment to stability.</p>

        <p>Participants should be excited to learn more about Continuous Integration testing, <a href="https://en.wikipedia.org/wiki/Embedded_system">Embedded</a> <a href="https://en.wikipedia.org/wiki/Microcontroller">Microcontroller</a> Systems, <a href="https://en.wikipedia.org/wiki/Static_program_analysis">Static Analysis</a> of programs, and virtualized testing using tools like <a href="https://en.wikipedia.org/wiki/QEMU">QEMU</a>. Participants will get to play a major part in this working group's efforts: learning about the current Rust Language test infrastructure, developing new tests, and getting the tests merged upstream.</p>

        <p>James is a software engineer living in Berlin. He is a member of the <a href="https://internals.rust-lang.org/t/announcing-the-embedded-devices-working-group/6839">Embedded Domain Working Group</a> and has taught many workshops on embedded programming and IoT, including one at <a href="http://zurich.rustfest.eu/sessions/workshop-embedded">RustFest 2017 in Zurich.</a></p>
      </div>
      <div class="partner">
        <img src="static/jamesmunns.png"/>
        <h4>James Munns</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>Diesel</h3>
        <p><a href="http://diesel.rs/">Diesel</a> is a Safe, Extensible ORM and Query Builder for RustIt considers itself the most productive way to interact with databases in Rust because of its safe and composable abstractions over queries.</p>
        <p>Sean is the creator of the <a href="http://diesel.rs/">Diesel Framework</a>. He is also a committer on <a href="http://rubyonrails.org/">Rails</a> and has worked extensively as a Ruby developer, notably on <a href="http://guides.rubyonrails.org/active_record_querying.html">Active Record</a>, in addition to his work on and with Rust.</p>
      </div>
      <div class="partner">
        <img src="static/sgrif.png"/>
        <h4>Sean Griffin</h4>
      </div>
    </div>
  </div>
</section>
