<section id="projects">
  <h2>2018 Projects</h2>
  <p>Here are the projects that we've organized for the 2018 program.</p>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>WebAssembly</h3>
        <p>WebAssembly("wasm") is a web standard that allows developers to run binary code in the browser.
        The Rust team is excited to make Rust a first class language for writing this type of code, and 
        has chosen WASM as one the four key domains in which we'd like to ship a first class developer
        experience this year.</p>
        <p>Great candidates for this project will be excited about learning more about wasm, writing documentation for others after having experimented with new tools for wasm, and a willingness to grapple with a new frontier of computing where more often than not we're drawing the map for others. They'll be working on writing tutorials for new tools so that others can learn how to use them, provide fixes/features for those tools, and work with the wasm-wg to provide a better experience for the ecosystem as a whole.</p>
        <p>Michael was one of the original visionaries of the Rust/WASM pairing, writing about it in his <a href="https://mgattozzi.com/rust-wasm">blog in early December last year</a>. He's a member of the <a href="https://internals.rust-lang.org/t/come-join-the-rust-and-webassembly-working-group/6845">WASM working group</a> passionate about <a href="https://twitter.com/mgattozzi/status/974810805043679233">exploring possibilities via epic hacks</a> AND <a href="https://github.com/rust-lang-nursery/rust-wasm#rust-and-webassembly-book">beginner friendly documentation</a>.</p>
      </div>
      <div class="partner">
        <img src="static/mgattozzi-resized.jpg"/>
        <h4>Michael Gattozzi</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>rust-lang.org</h3>
        <p>rust-lang.org is the online home of the Rust Programming Lanuage and often the first impression new folks get of the project and community. We're planning on shipping a brand new design with lots of new content this year.</p>
        <p>Great candidates for this project will be excited to learn about all the aspects of shipping a large website with multiple stakeholders in opensource. We'll be writing mobile-friendly accessible HTML and CSS, wrangling content (and content stakeholders), and running a bunch of design reviews and QA sessions to prepare the site for launch in August!</p>
        <p>Ashley is a member of the <a href="https://www.rust-lang.org/en-US/team.html#Core-team">Core Team</a>, lead of the <a href="https://github.com/rust-community/team">Community team</a>, and a member of the <a href="https://github.com/rust-lang-nursery/rust-wasm">WASM Working Group</a>. She is passionate about education and founded the <a href="https://www.nodetogether.org/">NodeTogether</a> program, and currently leads the <a href="https://rustbridge.github.io/">RustBridge</a> inclusive education initaive for Rust.</p>
      </div>
      <div class="partner">
        <img src="static/ashleygwilliams-resized.jpg"/>
        <h4>Ashley Williams</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>Embedded</h3>
        <p>Rust has the potential to make programming resource-constrained devices much more productive—and fun! We want embedded programming to reach first-class status this year.</p>

        <p>This year, we will be developing new <a href="https://docs.travis-ci.com/user/for-beginners/">Continuous Integration</a> (CI) tests for embedded platforms to detect when changes in the compiler would negatively affect embedded Rust devices. These tests will be added to the Rust Language test infrastructure as a critical part of Rust's commitment to stability.</p>

        <p>Participants should be excited to learn more about Continuous Integration testing, <a href="https://en.wikipedia.org/wiki/Embedded_system">Embedded</a> <a href="https://en.wikipedia.org/wiki/Microcontroller">Microcontroller</a> Systems, <a href="https://en.wikipedia.org/wiki/Static_program_analysis">Static Analysis</a> of programs, and virtualized testing using tools like <a href="https://en.wikipedia.org/wiki/QEMU">QEMU</a>. Participants will get to play a major part in this working group's efforts: learning about the current Rust Language test infrastructure, developing new tests, and getting the tests merged upstream.</p>

        <p>James is a software engineer living in Berlin. He is a member of the <a href="https://internals.rust-lang.org/t/announcing-the-embedded-devices-working-group/6839">Embedded Domain Working Group</a> and has taught many workshops on embedded programming and IoT, including one at <a href="http://zurich.rustfest.eu/sessions/workshop-embedded">RustFest 2017 in Zurich.</a></p>
      </div>
      <div class="partner">
        <img src="static/jamesmunns-resized.jpg"/>
        <h4>James Munns</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>Diesel</h3>
        <p><a href="http://diesel.rs/">Diesel</a> is a Safe, Extensible ORM and Query Builder for Rust. It considers itself the most productive way to interact with databases in Rust because of its safe and composable abstractions over queries.</p>
        <p>Good candidates for this project will be interested in how database interfaces work, both in the context of web apps, as well as in other domains. Diesel is a library that is often used by people who are entirely new to Rust, and we want to ensure that we have the greatest expierience possible for that group of people. Candidates will have the opportunity to work closely with the Diesel team, both to improve documentation and find missing APIs to improve the experience for those who are new to the language.</p>
        <p>Sean is the creator of the <a href="http://diesel.rs/">Diesel Framework</a>. He is also a committer on <a href="http://rubyonrails.org/">Rails</a> and has worked extensively as a Ruby developer, notably on <a href="http://guides.rubyonrails.org/active_record_querying.html">Active Record</a>, in addition to his work on and with Rust.</p>
      </div>
      <div class="partner">
        <img src="static/sgrif-resized.jpg"/>
        <h4>Sean Griffin</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>Command line interfaces(CLI)</h3>
        <p>Rust makes writing crossplatform, tested, modern command line applications frictionless while incorporating industry best practices and providing great documentation. We want to make this experience even better this year.</p>
        <p>Good candidates for this project will be interested in command line interface applications. Participants will get to contribute to this working group's efforts. We are trying to make writing command line applications in Rust a beginner-friendly and frictionless experience. For this, we want to write new entry-level guides, and create new libraries, e.g. tools for building cross platform terminal colours or for accessing file system APIs.</p>
        <p>Aaron is a member of the <a href="https://www.rust-lang.org/en-US/team.html#Release-team">release team</a> &amp; a member of the <a href="https://github.com/rust-lang-nursery/cli-wg">CLI working group</a>. He is also the maker of <a href="https://tokei.rs/">Tokei</a>.</p>
      </div>
      <div class="partner">
        <img src="static/aaronpower-resized.jpg"/>
        <h4>Aaron Power</h4>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="row">
      <div class="description">
        <h3>clap-rs</h3>
        <p><a href="http://clap.rs/">clap</a> is a fast and configurable argument parsing library for Rust. It is the de-facto standard in the crates ecosystem for handling provided arguments when creating commandline applications. </p>
        <p>Candidates for this project should bring an interest and fascination with the building of commandline interfaces and UX design. They will dive deep into the process of creating CLIs, avoiding common performance and stability pitfalls and creating maintanable and easily distributable tools.</p>
        <p>Kevin is the creator of <a href="http://clap.rs/">clap</a> and a member of the CLI Working Group. He is fascinated by all things command line and passionate about building, and teaching others how to build a command line world with better UX and more consistency.</p>
      </div>
      <div class="partner">
        <img src="static/kevin.png"/>
        <h4>Kevin Knapp</h4>
      </div>
    </div>
  </div>
</section>
