<section id="testimonials">
  <h2>Testimonials</h2>
  <p>Here are some words from prior partners and participants!</p>
  <div class="testimonial row">
    <div class="person">
      <img src="static/annaliao.png"/>
    </div>
    <div class="quote">
      <blockquote>I learned a lot about Rust and I also learned that the Rust community is great, it's really welcoming and friendly. And I also discovered that there's a log more that I want to learn about Rust." <a href="https://newrustacean.com/show_notes/interview/irr_2017/anna_liao/index.html">Listen more...</a></blockquote>
      <h4>- Anna Liao, 2017 Participant</h4>
    </div>
  </div>
 <div class="testimonial row">
    <div class="person">
      <img src="static/leebaillie.png"/>
    </div>
    <div class="quote">
      <blockquote>The coolest thing about the trip [to RustFest Zurich] was meeting a bunch of other people in the [Increasing Rust's Reach] program... It was really cool that the program helped me have a built-in group of pals who I felt really comfortable with immediately." <a href="https://newrustacean.com/show_notes/interview/irr_2017/lee_baillie/index.html">Listen more...</a></blockquote>
      <h4>- Lee Baillie, 2017 Participant</h4>
    </div>
  </div>
  <div class="testimonial row">
    <div class="person">
      <img src="static/ryanblecher.png"/>
    </div>
    <div class="quote">
      <blockquote>[T]he Increasing Rust’s Reach program ended up being one of the best projects to help further my programming skills." <a href="https://notryanb.github.io/increasing-rusts-reach.html">Read more...</a></blockquote>
      <h4>- Ryan Blecher, 2017 Participant</h4>
    </div>
  </div>
  <div class="testimonial row">
    <div class="person">
      <img src="static/mattgathu.png"/>
    </div>
    <div class="quote">
      <blockquote>[The best part of learning Rust in the Rust Reach Program] was the community... I learned a ton just from having discussions and calls with my Rust partners, which would have maybe taken ages if I had tried to go learn on my own." <a href="https://newrustacean.com/show_notes/interview/irr_2017/matt_gathu/">Listen more...</a></blockquote>
      <h4>- Matt Gathu, 2017 Participant</h4>
    </div>
  </div>
</section>
