<section id="timeline">
  <h2>Timeline</h2>
  <ul>
    <li>April 1st: Applications Open</li>
    <li>April 15th: Applications Close</li>
    <li>April 30th: Decisions mailed out to applicants</li>
    <li>May 14th: Welcome Call</li>
    <li>May 15th: Program Begins</li>
    <li>August 13-17th: Participant Showcase</li>
    <li>August 17th: Program Ends</li>
  </ul>
</section>
