<section id="timeline">
  <h2>Timeline</h2>
  <table>
    <tr class="strike"><th>April 3</th><td> Applications Open</td></tr>
    <tr class="strike"><th>April 20</th><td> Applications Close</td></tr>
    <tr class="strike"><th>April 30</th><td> Decisions mailed out to applicants</td></tr>
    <tr class="strike"><th>May 14</th><td> Welcome Call</td></tr>
    <tr class="strike"><th>May 15</th><td> Program Begins</td></tr>
    <tr><th>August 13&ndash;17</th><td> Participant Showcase</td></tr>
    <tr><th>August 17</th><td> Program Ends</td></tr>
  </table>
</section>
